NEXT_PUBLIC_SENTRI_NETWORK=mainnet
NEXT_PUBLIC_BASE_SYMBOL=USDC.E
NEXT_PUBLIC_RISK_SYMBOL=W0G
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=your_walletconnect_project_id
NEXT_PUBLIC_CHAIN_ID=16661
NEXT_PUBLIC_RPC_URL=https://evmrpc.0g.ai
NEXT_PUBLIC_EXPLORER_URL=https://chainscan.0g.ai
NEXT_PUBLIC_VAULT_FACTORY_ADDRESS=0x9EE0c94c87FaDeB6dFb619B2C429eC05bc623cc7
NEXT_PUBLIC_VAULT_IMPLEMENTATION_ADDRESS=0xf86013C68811047F6dEc98c4ED6601C80B720668
NEXT_PUBLIC_AGENT_INFT_ADDRESS=0x822Ea3f104c5aeA1bb7E34474d641abcf3f87951
NEXT_PUBLIC_SWAP_ROUTER_ADDRESS=0xAdf55d5380f216F53f109B6B8341C9169BaeEBa4
NEXT_PUBLIC_PRICE_FEED_ADDRESS=0x1289638A90da7F24DB069168648819607A7377e6
NEXT_PUBLIC_BASE_TOKEN_ADDRESS=0x1f3AA82227281cA364bFb3d253B0f1af1Da6473E
NEXT_PUBLIC_RISK_TOKEN_ADDRESS=0x1Cd0690fF9a693f5EF2dD976660a8dAFc81A109c
NEXT_PUBLIC_DEMO_VAULT_ADDRESS=0x3C111FFaB9F2C78F62CC27Cc276e65E840DBC982
AGENT_URL=https://sentri-agent.onrender.com
